body {
    margin: 0;
}

nav {
    text-align: center;
    background-color: black;
    padding: 0.5rem;
    position: fixed;
    width: 100%;
    top: 0;
}

a {
    color: white;
    text-decoration: none;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 18px;
}

header {
    margin-top: 2rem;
    font-size: 45px;
    text-align: center;
    border: 0px solid #777777;
    background-color: #777777;
    color: white;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 1.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

h2 {
    text-align: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.latest-album {
    background-color: #777777;
    border: 2px solid white;
    color: white;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
}

.play-btn {
    background-color: #777777;
    border: 2px solid white;
    color: white;
    font-size: 30px;
    padding: 10px;
    border-radius: 50%;
    margin-bottom: 20px;
    text-align: center;
    width: 70px;
    height: 70px;
}



footer {
    position: static;
    bottom: 0;
    width: 100%;
    background-color: rgb(2, 211, 239);
    color: white;
    text-align: center;
    font-size: 45px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.tour-item{
    width: 900px;
    height: 70px;
    margin-left: 320px;
}

.buy-btn{
    float: right;
    background-color: rgb(2, 211, 239);
    color: white;
    border: 2px solid rgb(2, 211, 239);
    border-radius: 4px;
    margin-left: 5rem;
    padding: 4px 16px 4px 16px;
    font-weight: bold;
}

span{
    margin: 20px;
}

.maindiv{
    margin-bottom: 1.5rem;
    margin-top: 3rem;
}

hr{
    width: 900px;
    margin-right: 18rem;
    
}

